.idea
*.pyc
__pycache__

*.sqlite3
*.bin
*.ext4
*.zip
*.pyz
*.tgz
*.rdb
*.key
/pydantic/
node_modules
*.squashfs
/examples/example_http_rust/target/
/examples/example_django/static/admin/
/runtimes/aleph-debian-11-python/rootfs/
/packaging/aleph-vm/opt/
/packaging/target/
/packaging/repositories/*/db/
/packaging/repositories/*/dists/
/packaging/repositories/*/pool/
/kernels/linux-*/
/kernels/linux-*.tar
/kernels/linux-*.tar.sign
