Package: aleph-vm
Version: 0.1.8
Architecture: amd64
Maintainer: Aleph.im
Description: Aleph.im VM execution engine
Depends: python3,python3-pip,python3-aiohttp,python3-msgpack,python3-aiodns,python3-alembic,python3-sqlalchemy,python3-setproctitle,redis,python3-psutil,sudo,acl,curl,systemd-container,squashfs-tools,python3-packaging,cloud-image-utils,ndppd,python3-dotenv,qemu-system-x86,qemu-utils,python3-systemd,btrfs-progs,nftables,lshw,pciutils,python3-jwcrypto,haproxy (>= 2.4),python3-setuptools,dnsmasq-base
Section: aleph-im
Priority: Extra
