[Unit]
Description=Aleph VM %i Controller
After=network.target

[Service]
Type=simple
RestartSec=5s
PrivateTmp=yes
NoNewPrivileges=true
WorkingDirectory=/opt/aleph-vm
Environment=PYTHONPATH=/opt/aleph-vm/:$PYTHONPATH
ExecStart=/usr/bin/python3 -m aleph.vm.controllers --config=/var/lib/aleph/vm/%i-controller.json
Restart=on-failure
# KillMode=Mixed is used so initially only the Python controller process receives the SIGTERM signal.
# The controller catches it and sends a QEMU command to shut down the Guest VM, allowing it to clean up
# properly and avoid disk corruption.
# After 30s (TimeoutStopSec), if the process is still running, both the controller and subprocesses receive SIGKILL.
KillMode=mixed
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
