body {
    font-family: IBM Plex Regular, monospace;
    margin: auto;
}

main {
    width: 90vw;
    margin: 2vh auto;
}

progress {
    width: 100%;
    height: 0.5em;
}

.loader-wrapper {
    height: 30px;
    display: flex;
    align-items: end;
}

#loader-container {
    text-align: center;
    padding: 20px;
    height: 80px;
    vertical-align: center;
}

.loader {
    display: inline-block;
    width: 5px;
    height: 20px;
    margin: 0.3px;
    background: #207AC9;
}

@keyframes move {
    0% {
        height: 20px;
    }

    50% {
        height: 10px;
    }

    100% {
        height: 20px;
    }
}

@keyframes move2 {
    0% {
        height: 10px;
    }

    50% {
        height: 20px;
    }

    100% {
        height: 10px;
    }
}

#loader-one {
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#loader-two {
    animation-name: move2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#loader-three {
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#chart {
    width: 100%;
    height: 300px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

#chart-wrapper{
    display: none;
}

footer{
    font-size: 70%;
    opacity: .75;
}