<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aleph.im Compute Node</title>
    <link rel="stylesheet" href="../static/main.css">
    <script src="https://unpkg.com/lightweight-charts@4.1.1/dist/lightweight-charts.standalone.production.js"></script>
</head>
<body>
    <main>

        <h1>Aleph.im Compute Node</h1>

        <section>
            <p>
                This is an <a href="https://aleph.im/">Aleph.im</a> compute resource node.
            </p>
            <p>
                It executes user programs stored on the Aleph network in Virtual Machines.
            </p>
            <p>
                See the <a href="https://github.com/aleph-im/aleph-vm">repository</a> for more info.
            </p>

        </section>

        <hr/>

        <section>
            <h2>Multiaddr</h2>
            <p>
                This node is exposed on the following addresses:
            </p>
            <ul>
                <li><a href="$public_url">$public_url</a></li>
                <li>$multiaddr_dns4</li>
                <li>$multiaddr_dns6</li>
            </ul>

        </section>

        <hr/>
    <section>
    <h2>Diagnostic</h2>
    <p>
        Virtualization is
        <span id="check">
            ...
            <span class="loader-container">
                <span id="loader-one" class="loader"></span>
                <span id="loader-two" class="loader"></span>
                <span id="loader-three" class="loader"></span>
            </span>
        </span>
    </p>
    <pre id="checks"></pre>
    <p>
        <a href="/status/check/fastapi">Diagnostics checks</a> |
        <a href="/vm/$check_fastapi_vm_id">Open diagnostic VM</a>
    </p>
    <p>
        Egress IPv6
        <span id="check_ipv6">
            is ...
            <span class="loader-container">
                <span id="loader-one" class="loader"></span>
                <span id="loader-two" class="loader"></span>
                <span id="loader-three" class="loader"></span>
            </span>
        </span>
    </p>
</section>
<section>
    <h2>Version</h2>
    <p>
        Running version <i>$version</i>.
    </p>
    <p>
        <button id="status_check_button" onclick="fetchLatestRelease()">Check if this is the latest release</button>
        <span id="status_latest_version" style="display: none">This is the latest release &#10004;&#65039;</span>
        <span id="status_outdated_version" style="display: none">
            The latest release is <a href="https://github.com/aleph-im/aleph-vm/releases/latest"></a> &#10060;
        </span>
        <p id="status_error_version" style="display: none">Your browser could not fetch the latest release:
            <span id="status_error_version_reason"></span>
        </p>
    </p>

        <section>
            <h2>Diagnostic</h2>
            <p class="loader-wrapper">
                Virtualization is
                <span id="check">
                    ...
                    <span id="loader-container">
                        <span id="loader-one" class="loader"></span>
                        <span id="loader-two" class="loader"></span>
                        <span id="loader-three" class="loader"></span>
                    </span>
                </span>
            </p>
            <pre id="checks"></pre>
            <p>
                <a href="/status/check/fastapi">Diagnostics checks</a> |
                <a href="/vm/$check_fastapi_vm_id">Open diagnostic VM</a>
            </p>
        </section>
        <section>
            <h2>Version</h2>
            <p>
                Running version <i>$version</i>.
            </p>

            <p>
                <button id="status_check_button">Check if this is the latest release</button>
                <span id="status_latest_version" style="display: none">This is the latest release &#10004;&#65039;</span>
                <span id="status_outdated_version" style="display: none">
                    The latest release is <a href="https://github.com/aleph-im/aleph-vm/releases/latest"></a> &#10060;
                </span>
                <p id="status_error_version" style="display: none">Your browser could not fetch the latest release:
                    <span id="status_error_version_reason"></span>
                </p>
            </p>

            <p>
                <button id="metrics_chart_button">Load metrics chart</button>
            </p>

            <div id="chart-wrapper">
                <div id="progress">
                    <span id="progress-bar-text">0%</span>
                    <progress id="progress-bar" value="0" max="100"></progress>
                </div>

                <div class="flex" id="checkboxes-wrapper"></div>

                <div id="chart"></div>
            </div>
        </section>
    </main>

    <script src="../static/helpers.js"></script>
    <script>
        const NODE_HOSTNAME = '$public_url';       
        const NODE_VERSION = '$version';

        (async () => {
            try {
                const { status, detail } = await fetchApiStatus();
                document.getElementById('check').innerHTML = status;
                const _checksDiv = document.getElementById("checks");
                if(detail.length > 0){
                    const detailDiv = document.createElement('div');
                    detailDiv.innerHTML = detail;
                    _checksDiv.appendChild(detailDiv);
                }
            } catch (err) {
                console.error('Could not fetch api status', err);
            }
        })();

        (async () => {
            document.getElementById('status_check_button').addEventListener('click', async () => {
                try{
                    const latestRelease = await isLatestRelease();
                    if(latestRelease === NODE_VERSION){
                        document.getElementById('status_latest_version').style.display = 'block';
                        document.getElementById('status_outdated_version').style.display = 'none';
                    }
                    else{
                        document.getElementById('status_latest_version').style.display = 'none';
                        const wrapperDiv = document.getElementById('status_outdated_version');
                        wrapperDiv.style.display = 'block';
                        wrapperDiv.querySelector('a').textContent = latestRelease;
                    }
                }
                catch(err){
                    document.getElementById('status_error_version').style.display = 'block';
                    document.getElementById('status_error_version_reason').innerHTML = err;
                }
            })
        })();

        (async () => {
            let data, chart

            const ONE_WEEK_AGO = Date.now() - 7 * 24 * 60 * 60 * 1000;

            const displayedMetrics = {
                base_latency: true,
                base_latency_ipv4: true,
                diagnostic_vm_latency: true,
                full_check_latency: true,
            }

            // Creates the chart
            // This function is called when pressing the "load metrics chart" button
            // and when toggling metrics on/off
            const createChart = (linesToDisplay) => {
                chart = LightweightCharts.createChart(
                    document.getElementById('chart'),
                    { timeScale: { timeVisible: true } }
                );
                const colors = {
                    base_latency: '#202030',
                    base_latency_ipv4: '#00916E',
                    diagnostic_vm_latency: '#A51C30',
                    full_check_latency: '#1B98E0',
                }
                for (const [k, v] of Object.entries(data)) {
                    if (!linesToDisplay[k])
                        continue;
                    const lineSeries = chart.addLineSeries({
                        color: colors[k],
                        title: k
                    });
                    lineSeries.setData(v.sort((a, b) => a.time - b.time));
                }
            }

            // Loads the latest node metrics when pressing the button
            document.getElementById('metrics_chart_button').addEventListener('click', async () => {
                document.getElementById('chart-wrapper').style.display = "block";
                document.getElementById('metrics_chart_button').disabled = true;
                for await (const release of fetchLatestMetrics(NODE_HOSTNAME, ONE_WEEK_AGO, false)) {
                    data = release.data
                    document.getElementById('progress-bar').value = release.progress * 100;
                    document.getElementById('progress-bar-text').innerHTML = `${release.progress * 100 | 0}%`;
                }
                createChart(displayedMetrics);
                
                // Creates checkboxes to disable/enable metrics
                Object.keys(displayedMetrics).map(field => {
                    const wrapperDiv = document.createElement('div')
                    const cb = document.createElement('input')
                    cb.type = 'checkbox'
                    cb.checked = true
                    cb.id = `toggle_${field}_checkbox`
                    const label = document.createElement('label')
                    label.htmlFor = cb.id
                    label.innerHTML = field.replace('_', ' ')
                    wrapperDiv.appendChild(cb)
                    wrapperDiv.appendChild(label)
                    document.getElementById('checkboxes-wrapper').appendChild(wrapperDiv)
    
                    cb.addEventListener('change', e => {
                        chart.remove()
                        displayedMetrics[field] = e.target.checked
                        createChart(displayedMetrics)
                    });
                })
            })

        })();

    (async () => {
        try{
            const response = await fetch('/vm/$check_fastapi_vm_id/ip/6');
            if (response.ok) {
                document.getElementById("check_ipv6").innerHTML = "is working &#10004;&#65039;";
            }
            else if (response.status === 503) {
                document.getElementById("check_ipv6").innerHTML = "fails to be tested &#10060; ";
            }
            else if (response.status === 500) {
                document.getElementById("check_ipv6").innerHTML = "is not available &#9932;";
            }
            else {
                document.getElementById("check_ipv6").innerText = response.status;
            }
        }
        catch(err){
            console.error(err);
            document.getElementById("check_ipv6").innerHTML = "fails to be tested &#10060; ";
        }
    })();

    </script>
</body>
</html>