<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aleph.im Compute Node</title>
    <link rel="stylesheet" href="/static/main.css">
    <script src="/static/lightweight-charts.standalone.production.js"></script>
</head>
<body>
    <main>

        <h1><img src="/static/aleph-cloud-v1.svg" height="40px"></h1>

        <section>
            <p>
                <b>This is an <a href="https://aleph.im/">Aleph Cloud</a> Compute Resource Node.</b>
            </p>
            <p>
                It executes user programs stored on the aleph.im network in Virtual Machines.
            </p>
            <p>
                See the <a href="https://github.com/aleph-im/aleph-vm">source code repository</a> for more info.
            </p>

        </section>

        <hr/>

        <section>
            <h2>Multiaddr</h2>
            <p>
                This node is exposed on the following addresses:
            </p>
            <ul>
                <li><a href="$public_url">$public_url</a></li>
                <li>$multiaddr_dns4</li>
                <li>$multiaddr_dns6</li>
            </ul>

        </section>

        <hr/>

        <section>
        <h2>Diagnostic</h2>

        <div id="virtualization-checks">
            <h3>Virtualization</h3>
            <p>
                Virtualization
                <span id="virtualization-check">
                ...
                    <span class="loader-container">
                        <span id="loader-one" class="loader"></span>
                        <span id="loader-two" class="loader"></span>
                        <span id="loader-three" class="loader"></span>
                    </span>
                </span>
            </p>
            <div class="details">
                <ul></ul>
            </div>
            <div class="help" style="display: none">
                <p>
                    ℹ️ <a href="https://docs.aleph.im/nodes/compute/troubleshooting/#virtualization">
                        Troubleshoot virtualization
                    </a>
                </p>
            </div>
        </div>

        <div id="virtualization-legacy-checks">
            <h3>Virtualization (legacy)</h3>
            <p>
                Virtualization
                <span id="virtualization-legacy-check">
                ...
                    <span class="loader-container">
                        <span id="loader-one" class="loader"></span>
                        <span id="loader-two" class="loader"></span>
                        <span id="loader-three" class="loader"></span>
                    </span>
                </span>
            </p>
            <div class="details">
                <ul></ul>
            </div>
            <div class="help" style="display: none">
                <p>
                    ℹ️ <a href="https://docs.aleph.im/nodes/compute/troubleshooting/#virtualization">
                        Troubleshoot virtualization
                    </a>
                </p>
            </div>
        </div>

        <div id="host-checks">
            <h3>Host connectivity</h3>
            <p>
                Host
                <span id="host-check">
                ...
                    <span class="loader-container">
                        <span id="loader-one" class="loader"></span>
                        <span id="loader-two" class="loader"></span>
                        <span id="loader-three" class="loader"></span>
                    </span>
                </span>
            </p>
            <div class="details">
                <h4>IPv4</h4>
                <ul class="ipv4"></ul>
                <h4>IPv6</h4>
                <ul class="ipv6"></ul>
            </div>
            <div class="help" style="display: none">
                <p>
                    ℹ️ <a href="https://docs.aleph.im/nodes/compute/troubleshooting/#host">
                        Troubleshoot host
                    </a>
                </p>
            </div>
        </div>

        <details>
            <summary>ℹ️ More information</summary>

            <div id="latest-metrics">
                <h3>Latest metrics</h3>
                <p>
                    The aleph.im network measures the performance of all nodes in the network. New metrics are published
                    every 10 minutes.
                </p>
                <p>
                    🔍 <a href="https://explorer.aleph.im/messages?showAdvancedFilters=1&channels=aleph-scoring&sender=0x4D52380D3191274a04846c89c069E6C3F2Ed94e4&page=1"
                        >Browse the metrics in the explorer</a>
                </p>
                <ul id="latest-metrics"></ul>
            </div>

            <h3>VM Egress IPv6</h3>
            <p>
                VM Egress IPv6 is a test to check if virtual machines are able to connect to the IPv6 internet.
                Enabling VM IPv6 Egress requires a specific configuration that is not applied automatically. It is not yet
                required to run virtual machines.
            </p>
            <div id="ipv6-egress-checks">
                <p>
                    VM Egress IPv6
                    <span id="ipv6-egress-check">
                        is ...
                        <span class="loader-container">
                            <span id="loader-one" class="loader"></span>
                            <span id="loader-two" class="loader"></span>
                            <span id="loader-three" class="loader"></span>
                        </span>
                    </span>
                </p>
            </div>
            <h3>APIs</h3>
            <p>
                Host status check API: <a href="/status/check/host">/status/check/host</a>
            </p>
            <p>

                Virtualization check API: <a href="/status/check/fastapi">/status/check/fastapi</a>
            </p>
            <p>

                VM Egress IPv6: <br/>
                <a href="/vm/$check_fastapi_vm_id/ip/6">/vm/$check_fastapi_vm_id/ip/6</a>
            </p>
        </details>

        </section>

        <section>
            <h2>Version</h2>
            <p>
                Running version <i>$version</i>.
            </p>

            <div>
                <button id="status_check_button">Check if this is the latest release</button>
                <span id="status_latest_version" style="display: none">This is the latest release &#10004;&#65039;</span>
                <span id="status_outdated_version" style="display: none">
                    The latest release is <a href="https://github.com/aleph-im/aleph-vm/releases/latest"></a> &#10060;
                </span>
                <p id="status_error_version" style="display: none">Your browser could not fetch the latest release:
                    <span id="status_error_version_reason"></span>
                </p>
            </div>

            <div>
                <button id="metrics_chart_button">Load metrics chart</button>
                <p>This downloads about 35 MB of data from the network</p>
            </div>

            <div id="chart-wrapper">
                <div id="progress">
                    <span id="progress-bar-text">0%</span>
                    <progress id="progress-bar" value="0" max="100"></progress>
                </div>

                <div class="flex" id="checkboxes-wrapper"></div>

                <div id="chart"></div>

                <footer>
                    This chart is using <a href="https://github.com/tradingview/lightweight-charts">Lightweight Charts</a>, under the <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache 2.0 license</a>.
                </footer>
            </div>
        </section>
    </main>


    <script src="/static/helpers.js"></script>
    <script>
        const NODE_HOSTNAME = '$public_url';
        const NODE_VERSION = '$version';

        (async () => {
            try {
                const { status, details } = await fetchFastapiCheckStatus();
                document.getElementById('virtualization-check').innerHTML = status;
                if(Object.keys(details).length > 0){
                    const detailsDiv = document.querySelector("#virtualization-checks .details ul");
                    detailsDiv.innerHTML = objectToString(details);
                    document.querySelector("#virtualization-checks .help").style.display = "block";
                }
            } catch (err) {
                console.error('Could not fetch api status', err);
            }
        })();

        (async () => {
            try {
                const { status, details } = await fetchFastapiCheckStatus(legacy=true);
                document.getElementById('virtualization-legacy-check').innerHTML = status;
                if(Object.keys(details).length > 0){
                    const detailsDiv = document.querySelector("#virtualization-legacy-checks .details ul");
                    detailsDiv.innerHTML = objectToString(details);
                    document.querySelector("#virtualization-legacy-checks .help").style.display = "block";
                }
            } catch (err) {
                console.error('Could not fetch api status', err);
            }
        })();

        (async () => {
            try {
                const { status, details } = await fetchHostCheckStatus();
                document.getElementById('host-check').innerHTML = status;
                if(Object.keys(details).length > 0){
                    document.querySelector("#host-checks .details ul.ipv4").innerHTML = objectToString(details["ipv4"]);
                    document.querySelector("#host-checks .details ul.ipv6").innerHTML = objectToString(details["ipv6"]);
                    document.querySelector("#host-checks .help").style.display = "block";
                }
            } catch (err) {
                console.error('Could not fetch api status', err);
            }
        })();

        (async () => {
            document.getElementById('status_check_button').addEventListener('click', async () => {
                try{
                    const latestRelease = await isLatestRelease();
                    if(latestRelease === NODE_VERSION){
                        document.getElementById('status_latest_version').style.display = 'block';
                        document.getElementById('status_outdated_version').style.display = 'none';
                    }
                    else{
                        document.getElementById('status_latest_version').style.display = 'none';
                        const wrapperDiv = document.getElementById('status_outdated_version');
                        wrapperDiv.style.display = 'block';
                        wrapperDiv.querySelector('a').textContent = latestRelease;
                    }
                }
                catch(err){
                    document.getElementById('status_error_version').style.display = 'block';
                    document.getElementById('status_error_version_reason').innerHTML = err;
                }
            })
        })();

        (async () => {
            let data, chart

            const ONE_WEEK_AGO = Date.now() - 7 * 24 * 60 * 60 * 1000;

            const displayedMetrics = {
                base_latency: true,
                base_latency_ipv4: true,
                diagnostic_vm_latency: true,
                full_check_latency: true,
            }

            // Creates the chart
            // This function is called when pressing the "load metrics chart" button
            // and when toggling metrics on/off
            const createChart = (linesToDisplay) => {
                chart = LightweightCharts.createChart(
                    document.getElementById('chart'),
                    { timeScale: { timeVisible: true } }
                );
                const colors = {
                    base_latency: '#202030',
                    base_latency_ipv4: '#00916E',
                    diagnostic_vm_latency: '#A51C30',
                    full_check_latency: '#1B98E0',
                }
                for (const [k, v] of Object.entries(data)) {
                    if (!linesToDisplay[k])
                        continue;
                    const lineSeries = chart.addLineSeries({
                        color: colors[k],
                        title: k
                    });
                    lineSeries.setData(v.sort((a, b) => a.time - b.time));
                }
            }

            // Loads the latest node metrics when pressing the button
            document.getElementById('metrics_chart_button').addEventListener('click', async () => {
                document.getElementById('chart-wrapper').style.display = "block";
                document.getElementById('metrics_chart_button').disabled = true;
                try{
                    for await (const release of fetchLatestMetrics(NODE_HOSTNAME, ONE_WEEK_AGO, false)) {
                        data = release.data
                        document.getElementById('progress-bar').value = release.progress * 100;
                        document.getElementById('progress-bar-text').innerHTML = (release.progress * 100 | 0) + '%';
                    }
                    createChart(displayedMetrics);
                }
                catch(err){
                    console.error(err);
                    document.getElementById('chart-wrapper').innerHTML = err;
                }

                // Creates checkboxes to disable/enable metrics
                Object.keys(displayedMetrics).map(field => {
                    const wrapperDiv = document.createElement('div')
                    const cb = document.createElement('input')
                    cb.type = 'checkbox'
                    cb.checked = true
                    cb.id = 'toggle_' + field + '_checkbox';
                    const label = document.createElement('label')
                    label.htmlFor = cb.id
                    label.innerHTML = field.replace('_', ' ')
                    wrapperDiv.appendChild(cb)
                    wrapperDiv.appendChild(label)
                    document.getElementById('checkboxes-wrapper').appendChild(wrapperDiv)

                    cb.addEventListener('change', e => {
                        chart.remove()
                        displayedMetrics[field] = e.target.checked
                        createChart(displayedMetrics)
                    });
                })
            })

        })();

    (async () => {
        try{
            const response = await fetch('/vm/$check_fastapi_vm_id/ip/6');
            if (response.ok) {
                document.getElementById("ipv6-egress-check").innerHTML = "is working &#10004;&#65039;";
            }
            else if (response.status === 503) {
                document.getElementById("ipv6-egress-check").innerHTML = "fails to be tested &#10060; ";
            }
            else if (response.status === 500) {
                document.getElementById("ipv6-egress-check").innerHTML = "is not yet available &#9932;";
            }
            else {
                document.getElementById("ipv6-egress-check").innerText = response.status;
            }
        }
        catch(err){
            console.error(err);
            document.getElementById("ipv6-egress-check").innerHTML = "fails to be tested &#10060; ";
        }
    })();

    </script>
</body>
</html>
