---

name: "Build Examples"


on:
  push:
    branches: [main]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [main]


jobs:
  build_pip:
    name: "Build with Pip requirements"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Workaround github issue https://github.com/actions/runner-images/issues/7192
        run: sudo echo RESET grub-efi/install_devices | sudo debconf-communicate grub-pc

      - run: |
          sudo apt-get -y update
          sudo apt-get -y upgrade
          sudo apt-get -y install python3-pip python3-venv squashfs-tools build-essential python3-nftables

          sudo mkdir /opt/packages
          sudo chown $(whoami) /opt/packages

      - run: |
          pip3 install --upgrade hatch "virtualenv<21"

      - run: |
          hatch build

      - run: |
          ls
          pwd
          pip3 install -t /opt/packages -r ./examples/example_pip/requirements.txt
          mksquashfs /opt/packages packages.squashfs

#      - run: |
#          ipfs add packages.squashfs

# TODO: There is currently no easy way pass the item_hash from a pin to a new program.
#      - run: |
#          aleph pin QmQr3dEd6LiFq6JmUJYPLrffy45RGFhPWsxWmzo9zZb7Sy
#
#      - run: |
#          aleph program ./examples/example_pip main:app
