name: "Test DigitalOcean Droplet Bullseye"
on:
  push

jobs:
  run_debian_11:
    name: "Run in DigitalOcean Droplet with Debian 11"
    runs-on: ubuntu-latest
    concurrency: droplet-aleph-vm-debian-11
    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          # Fetch the whole history for all tags and branches (required for aleph.__version__)
          fetch-depth: 0

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Setup SSH private key
        run: |
          mkdir ~/.ssh
          echo $DIGITALOCEAN_SSH_PRIVATE_KEY | base64 --decode > ~/.ssh/id_ed25519
          chmod 0700 ~/.ssh
          chmod 0600 ~/.ssh/id_ed25519
        env:
          DIGITALOCEAN_SSH_PRIVATE_KEY: ${{ secrets.DIGITALOCEAN_SSH_PRIVATE_KEY }}

      - name: Create the Droplet
        run: |
          doctl compute droplet create \
          --image debian-11-x64 \
          --size c-4 \
          --region ams3 \
          --vpc-uuid 5976b7bd-4417-49e8-8522-672aaa920c30 \
          --enable-ipv6 \
          --ssh-keys ab:2b:25:16:46:6f:25:d0:80:63:e5:be:67:04:cb:64,9e:8b:06:53:e3:fc:6f:42:64:57:bf:1f:aa:54:11:55 \
          aleph-vm-ci-debian-11

      - name: Build Debian Package
        run: |
          cd packaging && make all-podman-debian-11 && cd ..
          ls packaging/target

      - name: Wait for the system to setup and boot
        run: |
          export DROPLET_IPV4="$(doctl compute droplet get aleph-vm-ci-debian-11 --output json | ./.github/scripts/extract_droplet_ipv4.py)"
          until ssh-keyscan -H ${DROPLET_IPV4}; do sleep 1; done
        timeout-minutes: 3

      - name: Install Aleph-VM on the Droplet
        run: |
          export DROPLET_IPV4="$(doctl compute droplet get aleph-vm-ci-debian-11 --output json | ./.github/scripts/extract_droplet_ipv4.py)"
          ssh-keyscan -H ${DROPLET_IPV4} > ~/.ssh/known_hosts
          
          ssh root@${DROPLET_IPV4} DEBIAN_FRONTEND=noninteractive "apt-get update"
          ssh root@${DROPLET_IPV4} DEBIAN_FRONTEND=noninteractive "apt-get upgrade -y"
          ssh root@${DROPLET_IPV4} DEBIAN_FRONTEND=noninteractive "apt-get install -y docker.io apparmor-profiles"
          ssh root@${DROPLET_IPV4} "docker run -d -p 127.0.0.1:4021:4021/tcp --restart=always --name vm-connector alephim/vm-connector:alpha"
          
          scp packaging/target/aleph-vm.debian-11.deb root@${DROPLET_IPV4}:/opt
          ssh root@${DROPLET_IPV4} DEBIAN_FRONTEND=noninteractive "apt install -y /opt/aleph-vm.debian-11.deb"
          ssh root@${DROPLET_IPV4} "echo ALEPH_VM_SUPERVISOR_HOST=0.0.0.0 >> /etc/aleph-vm/supervisor.env"
          ssh root@${DROPLET_IPV4} "echo ALEPH_VM_ALLOCATION_TOKEN_HASH=9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08 >> /etc/aleph-vm/supervisor.env"
          ssh root@${DROPLET_IPV4} "systemctl restart aleph-vm-supervisor"

      - name: Test Aleph-VM on the Droplet
        run: |
          export DROPLET_IPV4="$(doctl compute droplet get aleph-vm-ci-debian-11 --output json | ./.github/scripts/extract_droplet_ipv4.py)"
          
          sleep 3
          curl --retry 20 --max-time 6 --fail "http://${DROPLET_IPV4}:4020/about/usage/system"
          curl --retry 5 --max-time 10 --fail "http://${DROPLET_IPV4}:4020/status/check/fastapi"

      - name: Schedule an instance on the Droplet by faking a call from the scheduler
        run: |
          export DROPLET_IPV4="$(doctl compute droplet get aleph-vm-ci-debian-11 --output json | ./.github/scripts/extract_droplet_ipv4.py)"
          curl --retry 5 --max-time 10 --fail -X POST -H "Content-Type: application/json" \
            -H "X-Auth-Signature: test" \
            -d '{"persistent_vms": [], "instances": ["67705389842a0a1b95eaa408b009741027964edc805997475e95c505d642edd8"]}' \
            "http://${DROPLET_IPV4}:4020/control/allocations"

      - name: Cleanup
        if: always()
        run: |
           ls
#          doctl compute droplet delete -f aleph-vm-ci-debian-11
